body {
   background-color: lightgrey;
}

h2 {
   text-align: center;
}

#results, #user_form, #user_form_post, #user_form_put, #user_form_delete {
   border-style: groove;
   border-radius: .5em;
   padding: 1em;
   margin: 1em;
   background-color: white;
}

#request_type {
   font-weight: bold;
   margin-bottom: 1em;
   display: inline-block;
   margin-bottom: .5em;
}